<!doctype html>

<html>
    <style>
        h1 {text-align: center;}
        h2 {text-align: center;}
        div {text-align: center;}
    </style>
    
    <body>

        <h1>TEST RENDER GAME<h1>
        <table id="wrapper">
            <tr>
                <td><img src="{{ url_for('render_feed') }}"></td>
            </tr>
        </table>

        <h1>PROJECT MANAGEMENT</h1>

        <h2>Projects</h2>
        <div>
            <table>
                <tr>
                    <th>
                        Name
                    </th>

                    <th>
                        Domain
                    </th>
                </tr>
                {% for project in projects %}
                <tr>
                    <td>
                        {{project.Name}}
                    </td>
    
                    <td>
                        {{project.domain}}
                    </td>

                    <!-- <td>
                        <form method="POST" action="./update" style="display: inline">
                            <input type="hidden" value="{{project.Name}}" name="oldtitle">
                            <input type="hidden" value="{{project.Name}}" name="oldtitle">
                            <input type="submit" value="Edit Name">
                        </form>
                    </td> -->
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>

</html>