<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="commentModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% from "_formhelpers.html" import render_field %}
                <form method=post>
                    <dl>{{ render_field(comment_form.obs_id, id="obs_id", onfocus="this.blur()", readonly="readonly") }}</dl>
                    <dl>{{ render_field(comment_form.comment) }}</dl>
                    <p>
                        <button class="btn btn-primary" type=submit value=submit>Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
