<table class="table table-bordered" id="myTable">
    <thead>
    <tr class="header">
        <th>State ID</th>
        <th>State</th>
        <th>Commentary</th>
        <th>Action</th>
        <th>Action Meaning</th>
        <th>Reward</th>
        <th>Done</th>
        {% if comment_batch_form is defined %}
            <th>Set ID</th>
        {% endif %}
        {#        <th>Commentary Batch</th>#}
    </tr>
    </thead>
    <tbody>
    {% for observation in observations %}
        {% if gym_code=='pong' %}
            <tr class={{ "table-danger" if observation[8] != 'None' else "" }}>
                <td>{{ observation[0] }}</td>
                <td><img src="{{ observation[4] }}" alt=""></td>
                <td>
                    {% if observation[8] == 'None' %}
                        <button type="button" class="btn btn-primary mb-2" value="{{ observation[0] }}"
                                id="set_id" data-toggle="modal"
                                data-target="#commentModal"
                                onclick="set_single_obs_id(this)">Comment
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-success mb-2" value="{{ observation[0] }}"
                                id="set_id" data-toggle="modal"
                                data-target="#commentModal"
                                onclick="set_single_obs_id(this)">Update
                        </button>
                        <br>
                        {{ observation[8] }}
                        </td>
                    {% endif %}
                <td>{{ observation[5] }}</td>
                <td>
                    {% if observation[5] == 0 %}NOOP{% endif %}
                    {% if observation[5] == 1 %}FIRE (=NOOP){% endif %}
                    {% if observation[5] == 2 %}RIGHT (=UP){% endif %}
                    {% if observation[5] == 3 %}LEFT (=DOWN){% endif %}
                    {% if observation[5] == 4 %}RIGHTFIRE (=FAST UP){% endif %}
                    {% if observation[5] == 5 %}LEFTFIRE (=FAST DOWN){% endif %}
                </td>
                <td>{{ observation[7] }}</td>
                <td>{{ 'Done' if observation[6] == 1 else 'Not Done' }}</td>
                {% if comment_batch_form is defined %}
                    <td>
                        <button type="button" class="btn btn-primary mb-2" value="{{ observation[0] }}"
                                id="set_start" data-toggle="modal"
                                data-target="#exampleModal"
                                onclick="set_obs_id(this)">Start
                        </button>
                        <button type="button" class="btn btn-secondary mb-2" value="{{ observation[0] }}"
                                id="set_end" data-toggle="modal"
                                data-target="#exampleModal"
                                onclick="set_obs_id(this)">End
                        </button>
                    </td>
                {% endif %}
                {#                <td>{{ 'None' if observation[9] == -1 else observation[9] }}</td>#}
            </tr>
        {% endif %}

        {% if gym_code=='minigrid' %}
            <tr class={{ "table-danger" if observation[9] != 'None' else "" }}>
                <td>{{ observation[0] }}</td>
                <td><img src="{{ observation[4] }}" alt=""></td>
                <td>
                    {# Comment #}
                    {% if observation[9] == 'None' %}
                        <button type="button" class="btn btn-primary mb-2" value="{{ observation[0] }}"
                                id="set_id" data-toggle="modal"
                                data-target="#commentModal"
                                onclick="set_single_obs_id(this)">Comment
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-success mb-2" value="{{ observation[0] }}"
                                id="set_id" data-toggle="modal"
                                data-target="#commentModal"
                                onclick="set_single_obs_id(this)">Update
                        </button>
                        <br>
                        {{ observation[9] }}
                        </td>
                    {% endif %}
                <td>{{ observation[5] }}</td>
                <td>{{ observation[6] }}</td>
                <td>{{ observation[8] }}</td>
                <td>{{ 'Done' if observation[7] == 1 else 'Not Done' }}</td>
                {% if comment_batch_form is defined %}
                    <td>
                        <button type="button" class="btn btn-primary mb-2" value="{{ observation[0] }}"
                                id="set_start" data-toggle="modal"
                                data-target="#exampleModal"
                                onclick="set_obs_id(this)">Start
                        </button>
                        <button type="button" class="btn btn-secondary mb-2" value="{{ observation[0] }}"
                                id="set_end" data-toggle="modal"
                                data-target="#exampleModal"
                                onclick="set_obs_id(this)">End
                        </button>
                    </td>
                {% endif %}
                {#                <td>{{ 'None' if observation[10] == -1 else observation[10] }}</td>#}
            </tr>
        {% endif %}
    {% endfor %}
    <script>
        function set_obs_id($this) {
            if ($this.id === "set_start") {
                $('#start').val($this.value);
            } else if ($this.id === "set_end") {
                $('#end').val($this.value);
            }
        }

        function set_single_obs_id($this) {
            if ($this.id === "set_id") {
                $('#obs_id').val($this.value);
            }
        }
    </script>
    </tbody>
</table>