{% include '_header.html' %}
<body>
{% include 'navbar.html' %}
<div class="container-fluid">
    <h1 class="mx-3"><b>Batch comment for {{ gym_code }} game</b></h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                    {% endif %}
                    {% if category != 'error' %}
                        <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% from "_formhelpers.html" import render_field %}
    <form method=post>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ render_field(form.start_obs_id) }}
            </div>
            <div class="form-group col-md-6">
                {{ render_field(form.end_obs_id) }}
            </div>
        </div>
        <dl>{{ render_field(form.comment) }}</dl>
        <p><input type=submit value=Submit>
    </form>
</div>
</body>