{% include '_header.html' %}
<body>
{% include 'navbar.html' %}
<div class="container-fluid">
    <h1><b>Comment to a state</b></h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% from "_formhelpers.html" import render_field %}
    <form method=post>
        <dl>
            {{ render_field(form.comment) }}
        </dl>
        <p><input type=submit value=Submit>
    </form>
    {% include '_table_game.html' %}
</div>
</body>
