{% include '_header.html' %}
<body>
{% include 'navbar.html' %}
<div class="container-fluid">
    <h1>Show observations from a game</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                    {% endif %}
                    {% if category != 'error' %}
                        <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-info stick-bot-right" data-toggle="modal" data-target="#exampleModal">
        Batch Comment
    </button>
    {% include '_comment_batch_modal.html' %}

    {{ pagination.info }}
    {{ pagination.links }}
    {% include '_table_game.html' %}
    {{ pagination.links }}
</div>

</body>