{% include '_header.html' %}
<body>
{% include 'navbar.html' %}
<div class="container-fluid">
    <h1>Show observations from a game</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% include '_table_game.html' %}
</div>
</body>