{% include '_header.html' %}
<body>
{% include 'navbar.html' %}
<div class="container-fluid">
    <h1>Show observations from a game</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <table id="myTable">
        <thead>
        <tr class="header">
            <th>State ID</th>
            <th>State</th>
            <th>Commentary</th>
            <th>Action</th>
            <th>Reward</th>
            <th>Done</th>
            <th>Commentary Batch</th>
        </tr>
        </thead>
        <tbody>
        {% for observation in observations %}
            <tr class={{ "table-danger" if observation[8] != 'None' else "" }}>
                <td>{{ observation[0] }}</td>
                <td><img src="{{ observation[4] }}" alt=""></td>
                <td>
                    {% if observation[8] == 'None' %}
                        <a href={{ url_for('comment_to_an_obs_id', obs_id=observation[0]) }}>Comment</a>
                    {% else %}
                        <a href={{ url_for('comment_to_an_obs_id', obs_id=observation[0]) }}>Update</a><br>
                        {{ observation[8] }}
                        </td>
                    {% endif %}
                <td>{{ observation[5] }}</td>
                <td>{{ observation[7] }}</td>
                <td>{{ 'Done' if observation[6] == 1 else 'Not Done' }}</td>
                <td>{{ 'None' if observation[9] == -1 else observation[9] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>