{% include '_header.html' %}
<body>
{% include 'navbar.html' %}
<div class="container-fluid">
    <h1>Show observations from a game</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-info stick-bot-right" data-toggle="modal" data-target="#exampleModal">
        Batch Comment
    </button>
    {% include '_comment_modal.html' %}
    {% include '_comment_batch_modal.html' %}
    {% include '_table_game.html' %}
</div>
</body>